<article class="card card-post{{#if has_image}}{{#if feature_image}} card-has-image{{/if}}{{/if}}{{#match slug current_slug}} card-post-active{{/match}} {{post_class}}">
	<a class="card-link" href="{{url}}" aria-label="{{title}}"></a>
	{{#if has_image}}
		{{#if feature_image}}
			{{> "components/image" class="card-image" src=feature_image alt=title}}
		{{/if}}
	{{/if}}
	<div class="card-content">
		<div class="card-header">{{#if featured}}
			<span class="card-header-icon">
				{{> "icons/flame"}}
				<span class="tooltip">{{t "Featured Post"}}</span>
			</span>
		{{/if}}{{#has tag="#video"}}
			<span class="card-header-icon">
				{{> "icons/video"}}
				<span class="tooltip">{{t "Video Post"}}</span>
			</span>
		{{/has}}{{#unless access}}
			<span class="card-header-icon">
				{{> "icons/lock"}}
				{{#has visibility="paid"}}
					<span class="tooltip">{{t "Paid Post"}}</span>
				{{else has visibility="tiers"}}
					<span class="tooltip">{{tiers}}</span>
				{{else}}
					<span class="tooltip">{{t "For Members"}}</span>
				{{/has}}
			</span>
		{{/unless}}{{#primary_tag}}
			<a class="card-tag" href="{{url}}">{{name}}</a>
		{{/primary_tag}}</div>
		<h3 class="card-title">{{title}}</h3>
		<div class="card-footer">
			<time class="card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
			{{#if reading_time}}
			<span class="card-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
			{{/if}}
		</div>
	</div>
</article>
